Repository LucasSantana-Dev/react-native-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run type-check

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write", "npm run type-check"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: add core UI components and design system
  components/ui/button/button-helpers.tsx
  components/ui/button/use-button-state.ts
  components/ui/input/render-helpers.tsx
  components/ui/input/size-styles.ts
  components/ui/input/state-styles.ts
  components/ui/input/use-input-props.ts
  components/ui/input/use-input-state.ts
  components/ui/input/use-input-styles.ts
  components/ui/input/variant-styles.ts
Due: eslint --fix, prettier --write, npm run type-check

feat: add authentication system and context
  hooks/form/types.ts
  hooks/form/use-form-data.ts
  hooks/form/validation.ts
  hooks/use-async-operation.ts
  hooks/use-async.ts
  lib/errors/app-error.ts
  lib/errors/error-handler.ts
  lib/errors/index.ts
  lib/schemas/auth.ts
  lib/schemas/profile.ts
Due: eslint --fix, prettier --write, npm run type-check

feat: add utility functions and validation helpers
  lib/helpers/form-formatters.ts
  lib/utils/brazilian-documents.ts
  lib/utils/cep.ts
  lib/utils/cnpj.ts
  lib/utils/cpf.ts
  lib/utils/date/comparison.ts
  lib/utils/date/formatting.ts
  lib/utils/date/manipulation.ts
  lib/utils/date/parsing.ts
  lib/utils/date/validation.ts
  lib/utils/phone.ts
  lib/utils/pis.ts
  lib/utils/rg.ts
Due: eslint --fix, prettier --write, npm run type-check

feat: add application screens and navigation
  app/(app)/components/balance-card.tsx
  app/(app)/components/profile-actions.tsx
  app/(app)/components/profile-form.tsx
  app/(app)/components/profile-header.tsx
  app/(app)/components/profile-info-display.tsx
  app/(app)/components/quick-actions-grid.tsx
  app/(app)/components/recent-transactions.tsx
  app/(app)/components/transaction-item.tsx
  app/(app)/hooks/use-profile-form.ts
  app/(app)/hooks/validation-helpers.ts
  app/(auth)/components/login-form.tsx
  app/(auth)/components/login-prompt.tsx
  app/(auth)/components/register-form-fields.tsx
  app/(auth)/components/register-form.tsx
  app/(auth)/components/register-prompt.tsx
  app/(tabs)/components/documentation-card.tsx
  app/(tabs)/components/feature-card.tsx
  app/(tabs)/components/features-grid.tsx
  app/(tabs)/components/welcome-card.tsx
  app/(tabs)/constants/features.ts
  components/layout/use-screen-container-styles.ts
Due: eslint --fix, prettier --write, npm run type-check

feat: add testing infrastructure and E2E setup
  __tests__/components/ui/button.test.tsx
  __tests__/components/ui/input.test.tsx
  __tests__/context/auth-context.test.tsx
  __tests__/hooks/use-async.test.ts
  __tests__/lib/utils/cpf.test.ts
  e2e/app.test.js
  e2e/jest.config.js
  e2e/setup.js
  scripts/check-code-quality.js
  scripts/security-check.js
Due: eslint --fix, prettier --write, npm run type-check

feat: add documentation and project guidelines
  .cursor/rules/code-templates.mdc
  .cursor/rules/productivity-enhancements.mdc
  .cursor/rules/react-native-expo---additional-instructions.mdc
  .cursor/rules/react-native-expo---general-best-practices.mdc
  .cursor/rules/react-native-expo---root-files.mdc
  .cursor/rules/react-native-patterns.mdc
  .cursor/rules/typescript-patterns.mdc
  .cursorrules
  CHANGELOG.md
  assets/images/favicon-placeholder.svg
  assets/images/icon-placeholder.svg
  assets/images/splash-placeholder.svg
Due: prettier --write

chore: finalize project configuration
  .detoxrc.js
  eslint.config.js
Due: eslint --fix, prettier --write

feat: add performance optimization infrastructure
  components/common/loading-fallback.tsx
  components/ui/lazy-image.tsx
  hooks/use-lazy-load.ts
  hooks/use-virtual-scroll.tsx
  lib/utils/performance.tsx
  metro.config.js
  tsconfig.json
Due: eslint --fix, prettier --write, npm run type-check

feat: add lazy screen components
  app/(app)/lazy-screens.tsx
  app/(auth)/lazy-screens.tsx
  app/(tabs)/lazy-screens.tsx
Due: eslint --fix, prettier --write, npm run type-check

feat: add lazy component definitions
  app/(app)/components/lazy-components.tsx
  app/(tabs)/components/lazy-components.tsx
Due: eslint --fix, prettier --write, npm run type-check

feat: add virtualized list examples
  app/(app)/home-flashlist.tsx
  app/(app)/home-virtualized.tsx
Due: eslint --fix, prettier --write, npm run type-check

docs: add comprehensive performance optimization documentation
  docs/README.md
  docs/architecture/performance-decisions.md
  docs/best-practices/performance.md
  docs/checklists/performance-checklist.md
  docs/examples/lazy-loading-examples.tsx
  docs/guides/migration-to-lazy-loading.md
  docs/performance/lazy-loading.md
  docs/performance/optimization-guide.md
Due: eslint --fix, prettier --write, npm run type-check

fix: resolve TypeScript and ESLint errors
  app/(auth)/register.tsx
  app/(tabs)/index.tsx
  app/_layout.tsx
  app/modal.tsx
  components/features/parallax-scroll-view.tsx
  components/ui/button/button.tsx
  components/ui/collapsible.tsx
  components/ui/input/input.tsx
  components/ui/input/types.ts
  components/ui/themed-text.tsx
Due: eslint --fix, prettier --write, npm run type-check

chore: update dependencies for performance optimization
  package-lock.json
  package.json
Due: prettier --write

feat: complete performance optimization implementation
  README.md
  app/(app)/components/balance-card.tsx
  app/(app)/components/profile-actions.tsx
  app/(app)/components/profile-form.tsx
  app/(app)/components/quick-actions-grid.tsx
  app/(app)/components/recent-transactions.tsx
  app/(app)/components/transaction-item.tsx
  app/(app)/home.tsx
  app/(auth)/login.tsx
  app/(tabs)/_layout.tsx
  app/(tabs)/components/documentation-card.tsx
  app/(tabs)/components/features-grid.tsx
  app/(tabs)/components/welcome-card.tsx
  components/common/loading-fallback.tsx
  components/layout/scroll-container.tsx
  components/ui/button/styles.ts
  components/ui/card/card.tsx
  components/ui/input/styles.ts
  components/ui/input/use-input-styles.ts
  components/ui/lazy-image.tsx
  config/colors.ts
  context/auth-context.tsx
  hooks/use-form-data.ts
  hooks/use-lazy-load.ts
  hooks/use-screen-dimensions.ts
  hooks/use-virtual-scroll.tsx
  lib/helpers/validation.ts
  lib/utils/brazilian.ts
  lib/utils/date.ts
  lib/utils/performance.tsx
  services/storage/async-storage.ts
Due: eslint --fix, prettier --write, npm run type-check

fix: resolve ESLint errors in test files and CPF utils
  __tests__/context/auth-context.test.tsx
  __tests__/lib/utils/cpf.test.ts
  jest.setup.js
  lib/utils/cpf.ts
Due: eslint --fix, prettier --write, npm run type-check

fix: improve Platform mock for React Native Testing Library
  jest.setup.js
Due: eslint --fix, prettier --write

chore: replace CHANGELOG.md with CHANGELOG_TEMPLATE.md
  CHANGELOG.md
  CHANGELOG_TEMPLATE.md
Due: prettier --write

fix: resolve ESLint and TypeScript warnings
  .lintstagedrc.json
  app/(app)/profile.tsx
  components/ui/button/button.tsx
  components/ui/input/input-content-renderer.tsx
  components/ui/input/input-renderer.tsx
  components/ui/input/render-helpers.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix: resolve Jest configuration and Platform.OS issues
  __tests__/setup.ts
  jest.config.cjs
  jest.setup.js
Due: eslint --fix, prettier --write, npm run type-check

docs: add comprehensive documentation for testing, SEO, and code quality
  README.md
  docs/README.md
  docs/code-quality/README.md
  docs/code-quality/best-practices.md
  docs/code-quality/eslint.md
  docs/code-quality/knip.md
  docs/code-quality/lint-staged.md
  docs/code-quality/prettier.md
  docs/seo-discoverability/README.md
  docs/seo-discoverability/accessibility.md
  docs/seo-discoverability/app-store-optimization.md
  docs/seo-discoverability/deep-linking.md
  docs/seo-discoverability/web-seo.md
  docs/seo/README.md
  docs/testing/README.md
  docs/testing/e2e-testing.md
  docs/testing/integration-testing.md
  docs/testing/test-patterns.md
  docs/testing/unit-testing.md
Due: prettier --write

fix(types): resolve TypeScript errors in input components
  __tests__/setup.ts
  components/ui/input/input-content-renderer.tsx
  components/ui/input/render-helpers.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix(types): resolve remaining TypeScript errors in input components
  components/ui/input/input-content-renderer.tsx
  components/ui/input/input-renderer.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix(eslint): resolve ESLint errors in render-helpers
  components/ui/input/render-helpers.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix(types): add missing handleFocus/handleBlur properties and fix event types
  components/ui/input/render-helpers.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix(types): add type casting for TextInput event handlers
  components/ui/input/render-helpers.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix(tests): resolve test setup issues
  __tests__/setup.ts
Due: eslint --fix, prettier --write, npm run type-check

fix(eslint): resolve ESLint errors in test setup file
  __tests__/setup.ts
Due: eslint --fix, prettier --write, npm run type-check

fix(tests): add minimal test to setup file
  __tests__/setup.ts
Due: eslint --fix, prettier --write, npm run type-check

fix(tests): improve Platform.OS mocking and fix setup file
  __tests__/setup.js
  jest.config.cjs
  jest.setup.js
Due: eslint --fix, prettier --write

fix(tests): exclude setup file from test pattern and remove test code
  __tests__/setup.js
  jest.config.cjs
Due: eslint --fix, prettier --write

fix(tests): improve Platform.OS mocking with Object.defineProperty
  __tests__/setup.js
  jest.setup.js
Due: eslint --fix, prettier --write

fix(tests): temporarily skip failing UI component tests
  __tests__/components/ui/button.test.tsx
  __tests__/components/ui/input.test.tsx
Due: eslint --fix, prettier --write, npm run type-check

chore(config): remove redundant .prettierrc.json file
  .prettierrc.json
Due: prettier --write

chore(deps): add knip to devDependencies
  package-lock.json
  package.json
Due: prettier --write

style: fix Prettier formatting and rename app.config
  app.config.ts
Due: eslint --fix, prettier --write, npm run type-check

fix(eslint): resolve all ESLint warnings and improve code organization
  app/(app)/hooks/use-profile-screen.ts
  app/(app)/profile.tsx
  components/ui/button/button-helpers.tsx
  components/ui/button/button-utils.tsx
  components/ui/button/button.tsx
  components/ui/input/input-content-renderer.tsx
  components/ui/input/input-renderer.tsx
  components/ui/input/render-helpers.tsx
Due: eslint --fix, prettier --write, npm run type-check

fix(typescript): resolve remaining TypeScript errors and finalize ESLint fixes
  app/(app)/profile.tsx
  components/ui/button/button-utils.tsx
  components/ui/button/button.tsx
  components/ui/input/input-content-renderer.tsx
  components/ui/input/render-helpers.tsx
Due: eslint --fix, prettier --write, npm run type-check
